<header class="page-header">
     <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      
      <a href="{{ site.baseurl }}" class="btn">Home</a>

      <a href="{{ site.baseurl }}/demo/" class="btn">Demo</a>

      <a href="{{ site.baseurl }}/blog/" class="btn">Blog Posts</a>
      

      {% if site.github.is_project_page %}
        <a href="https://github.com/tgilbrough/MrKnowItAll" class="btn">View on GitHub</a>
      {% endif %}

      <a href="{{ site.baseurl }}/paper/qa.pdf" class="btn">View Paper</a>
      
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
</header>
